* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.escondido {
    display: none;
}

header {
    height: 92px;
    width: 100vw;
    max-width: 414px;
    background-color: #CF2B2B;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0px 5px 5px rgba(73, 72, 72, 0.5);
}

.container-header {
    height: 92px;
    width: 100vw;
    max-width: 414px;
    margin: auto;
}

header span {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    margin-left: 21px;
}

header p {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-left: 21px;
}

main {
    width: 100vw;
    max-width: 414px;
    margin: auto;
}

.pratos {
    display: flex;
}

article {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

article ion-icon {
    background: #32B72F;
    color: #FFF;
    border-radius: 50%;
    font-size: 16px;
    position: absolute;
    bottom: 5px;
    right: 12px;
}

.borda-verde {
    border: 5px solid #32B72F;
}

article img {
    width: 144px;
    height: 87px;
    margin-top: 18px;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.titulo_section {
    font-family: 'Righteous', cursive;
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-left: 19px;
    margin-top: 31px;
    margin-bottom: 17px;
}

.titulo_prato {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18,75px;
    color: #333333;
    margin-left: 15px;
    margin-right: 11px;
    margin-bottom: 4px;
}

.subtitulo_prato {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 17,58px;
    color: #A6A6A6;
    margin-left: 14px;
    margin-right: 11px;
    margin-bottom: 5px;
    position: absolute;
    top: 150px;
}

.preço_prato {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18,75px;
    color: #000000;
    position: absolute;
    bottom: -8px;
    margin-left: 14px;
    margin-bottom: 13px;
}

section {
    overflow-x: scroll;
}

.titulo-bebida-sobremesa {
    margin-top: 27px;
}

.container-footer {
    height: 92px;
    width: 100vw;
    max-width: 414px;
    margin: auto;
}

footer {
    width: 100vw;
    max-width: 414px;
    height: 92px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    position: fixed;
    bottom: 0;
}

.caixa-interna-footer {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    display: flex;
    align-items: center;
}

.caixa-interna-footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23,44px;
    color: #FFF;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
}

aside {
    width: 377px;
    height: 353px;
    position: fixed;
    top: calc(50% - 353px/2);
    left: calc(50% - 353px/2 - 10px);
    background-color: #50D074;
    opacity: 1;
    border-radius: 9px;
}

.tela-sem-finalizar-pedido {
    opacity: 1;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 28px;
    color: #fff;
}

.pedido-e-preco {
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-right: 25px;
    margin-bottom: 13px;
}

.pedido-e-preco p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 23,44px;
    color: #FFF;
}

.preco-total {
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
    margin-right: 25px;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 23,44px;
    color: #FFF;
}

.botoes-finalizar-pedido {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;  
    align-items: center;
}

.pedido-confirmado {
    background-color: #fff;
    color: #50D074;
    border-radius: 12px;
    width: 333px;
    height: 52px;
    margin-left: 24px;
    margin-right: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23,44px;
}

.cancelar-pedido {
    background-color: #50D074;
    color: #fff;
    border-radius: 12px;
    width: 333px;
    height: 52px;
    margin-left: 24px;
    margin-right: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 23,44px;
}